* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0FDF4;
}

/*=== Inicio Header === */
.logo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 0;
}

.logo-veterinaria {
    height: 80px;
    width: 80px;
    object-fit: contain;
}
h2 {
    font-weight: lighter;
    text-align: center;
}

.navbar, ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 10px;
}

.navbar, li, a {
    text-decoration: none;
    color: black;
}


/*=== Fin Header === */



/*=== Inicio Main === */


/*=== Fin Main === */



/*=== Inicio Footer === */

.footer-sitio{

    background-color: #1a2536;
    color: #ffffff;
    padding: 40px 20px;
    font-family: Arial,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenedor-footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 30px;
}

.columna-footer {
    flex: 1;
    min-width: 260px;
    text-align: center;
}

.columna-footer p {
    margin: 12px 0;
    font-size: 0.95rem;
    color: #e2e8f0;
}


.icono {
    margin-right: 6px;
}

/*=========================================================================*/

/*=== Inicio Registro de usuario ===*/

/*=== Inicio Header === */

/*=== Fin Header === */

/*=== Inicio Main === */
#formulario-registro-mascota {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 9px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#formulario-registro-mascota input::placeholder {
    padding: 3px;
}

#formulario-registro-mascota label {
    font-weight: 700;
}

/*=== Fin Main === */

/*=== Inicio Footer === */
.logo-footer {
    height: 80px;
    width: 80px;
    object-fit: contain;
    position: relative;
    right: 15px;
}
/*=== Fin Footer === */

/*=== Fin Registro de usuario === */

/*=========================================================================*/
